@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
:root {
  --white: #ffff;
  --black-900: #222222;
  --black-700: #393939;
  --black-600: rgb(82 82 82);
  --black-500: rgb(115 115 115);
  --skin-color: #ffa500;
  --whitesmoke: rgba(255, 255, 255, 0.643);
}
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: var(--skin-color);
  box-shadow: inset 0 0 5px var(--white);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--black-700);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black-900);
  box-shadow: inset 0 0 5px var(--white);
}
body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Poppins" sans-serif;
  background-color: var(--black-900);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.sidebar {
  height: 100vh;
  width: 20%;
  position: relative;
  background-color: var(--black-700);
}
.sidebar .logo img {
  width: 90px;
  height: 90px;
  margin-left: 20%;
  position: absolute;
}
.sidebar .sidebar-menu {
  padding-top: 9rem;
  border-top: 0.001px solid var(--black-900);
  overflow: auto;
}
.sidebar .sidebar-menu ul {
  padding: 0rem;
  margin-left: 2rem;
}
.sidebar .sidebar-menu ul li {
  padding: 1rem;
  background-color: var(--skin-color);
  color: var(--white);
  margin-bottom: 1rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  cursor: pointer;
}
.sidebar .sidebar-menu ul li.active {
  border-bottom: 2px solid var(--white);
  color: var(--white);
}
.sidebar .sidebar-menu ul li.active:hover {
  background-color: var(--white);
  color: var(--skin-color);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.sidebar .sidebar-menu a ul li  {
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
}
.sidebar-menu ul li  i {
  padding-right: 1rem;
  text-align: center;
}
.sidebar-menu  ul li:hover  {
  background-color: var(--white);
  color: var(--skin-color);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.sidebar-menu ul li:hover {
  color: var(--skin-color);
  background-color: var(--white);
}

.main-content {
  position: absolute;
  margin-left: 20%;
  top: 0;
  width: 80%;
  overflow: hidden;
}
.main-content .navbar {
  height: 80px;
  box-shadow: -9px -9px 9px var(--black-900), 9px 9px 9px var(--black-900);
  background-color: var(--black-700);
  width: 100%;
  color: var(--skin-color);
  position: relative;
}
.navbar .navbar-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.navbar .navbar-item i.fa.fa-bars {
  font-size: 35px;
  cursor: pointer;
}
.navbar .navbar-item .nav-user {
  width: 90px;
  height: 90px;
  justify-content: space-between;
  cursor: pointer;
}
.navbar .navbar-item .nav-user span {
  padding: 1rem;
  border-radius: 100%;
  width: 66.5px !important;
  height: 66.5px !important;
  background-color: var(--skin-color);
  color: var(--white);
  font-weight: 800;
  font-size: 20px;
}
.navbar .navbar-item .nav-user i {
  font-size: 30px;
  font-weight: 900;
  margin-left: 1rem;
  cursor: pointer;
}
/* Drop dwon button */
.dropdown{
  float: right;
  height: 120px;
  z-index: 120;
  position: absolute;
  right: 0;
  box-shadow: -9px -9px 9px var(--black-900);
  margin-right: 20px;
  background-color: var(--black-700);
  border-radius: 9px;
  color: var(--skin-color);
  width: 100px;
  display: none;
}
.dropdown ul{
  text-align: center;
}
.dropdown ul a{
  cursor: pointer;
  padding: 1px;
 color: var(--skin-color);
}
.dropdown ul a li:hover{
  background-color: var(--skin-color);
  color: var(--white);
  border-radius: 9px;
}

main {
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  position: relative;
}
main .main-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 49px;
  grid-gap: 3rem;
}
.main-home .card {
  width: 90%;
  height: 80px;
  background-color: var(--black-700);
  border-radius: 5px;
}
.main-home .card .card-title {
  color: var(--white);
  font-weight: 900;
  margin: 1rem;
}
.card .card-title i {
  float: right;
}
.card span {
  color: var(--skin-color);
  float: right;
  margin-right: 1rem;
  font-weight: 900;
}
/* contact css for dashboard */
main .main-contact {
  color: var(--white);
}
main .main-contact span {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 3rem;
}
main table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
  border-radius: 0.4rem;
  overflow: hidden;
  border: 1px solid var(--black-700);
}
table thead {
  background-color: var(--skin-color);
  border-radius: 2rem;
}
table thead tr {
  border-radius: 2rem;
}
table tbody {
  text-align: center;
}

table tbody tr td {
  padding-top: 1rem;
}
table tbody tr:nth-child(even) {
  background-color: var(--black-600);
  border-top: 1px solid var(--black-700);
}
table tbody tr:nth-child(odd):hover {
  background-color: var(--black-500);
  border-top: 1px solid var(--black-700);
}
table tbody tr:nth-child(even):hover {
  background-color: var(--black-700);
  border-top: 1px solid var(--black-600);
}
table tbody tr:hover {
  background-color: var(--black-700);
}
/* portfolio css for dashboard */

main .main-portfolio {
  color: var(--white);
}
.main-portfolio button {
  float: right;
}
button.btn {
  padding: 1rem;
  background-color: var(--skin-color);
  outline: none;
  border: none;
  border-radius: 9px;
  margin-bottom: 8px;
  cursor: pointer;
  color: var(--white);
  font-size: 12px;
  font-weight: 700;
}
button.btn:hover {
  background-color: var(--white);
  color: var(--skin-color);
}
.section-porfolio {
  margin-left: 20%;
  top: 120px;
  position: absolute;
  width: 80%;
}
.add-portfolio {
  height: 581px;
  background-color: var(--black-700);

  box-shadow: -9px -9px 9px var(--black-900), 9px 9px 9px var(--black-900);
  border-radius: 9px;
  margin: auto;

  width: 60%;
  display: none;
}
.add-portfolio .row form{
  padding-top: 1rem;
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-direction: column;
}
.form-control-f{
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
.form-control-f div{
  width: 90%;
}
.form-control-f label{
  padding-right: 1rem;
}
.form-control-f button{
  margin-left: 2rem;
}
.add-portfolio h2{
  color:var(--skin-color);
  padding-top: 3rem;
  margin-left: 1rem;
  width: 38%;
  border-bottom: 3px solid var(--skin-color);
}

 input{
 width: 100%;
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
 
 margin-bottom: 1rem;
 outline: none;
 text-align: center;
 background-color: var(--black-900);
 color: var(--whitesmoke);
 border-radius:9px;
 border: none;
 border: 1px solid var(--whitesmoke);
}
textarea{
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
  text-align: center;
  background-color: var(--black-900);
  color: var(--whitesmoke);
  border-radius:9px;
  border: none;
  border: 1px solid var(--whitesmoke);
}
.nav__close{
    right: 2rem;
    font-size: 1.3rem;
    padding: 0.25rem;
    color: var(--skin-color);
    cursor: pointer;
    top: 0.5rem;
    margin-right: 2rem;
    float: right;
    font-size: x-large;

}

.nav__close:hover{
  color: var(--white);
}
.blure {
  filter: blur(2px);
  opacity: 1px;
}
.add-skill {
  height: 401px;
  background-color: var(--black-700);

  box-shadow: -9px -9px 9px var(--black-900), 9px 9px 9px var(--black-900);
  border-radius: 9px;
  margin: auto;

  width: 60%;
  display: none;
}
.add-skill h2{
  color:var(--skin-color);
  padding-top: 3rem;
  margin-left: 1rem;
  width: 38%;
  border-bottom: 3px solid var(--skin-color);
}

 .row-s form{
  padding-top: 3rem;
  display: flex;
  padding-left: 5rem;
  padding-right: 5rem;
  flex-direction: column;
}
i.fa{
  cursor: pointer;
}
i.fa:hover{
  color:#ffa500
}
i.fa.fa-trash{
  color: red;
  margin-left: 29px;
}
